#projects .tableHead {
    background-color: rgba(7, 29, 101, 0.826);
    color: white;
}

#projectsHeader {
    font-size: 3.75em;
    font-weight: 450;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline rgba(7, 29, 101, 0.826);
    
}

#projects .priority-high {
    color: red;
}

#projects .priority-medium {
    color: orange;
}

#projects .priority-low {
    color: green;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}